#window {
	background-color: rgba(40,42,54,0.8);
	padding: 5px;
}
#input {
	margin: 0px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 0px;
	background-color: rgba(40,42,54,0.8);
}
#img {
	background-color: rgba(40,42,54,0.0);
}
#outer-box {
	margin: 0px;
	border: none;
}
#inner-box {
	margin: 5px;
	border: none;
}
#scroll {
	margin: 0px;
	border: none;
}
#text {
	margin: 0px;
	border: none;
}

#entry:selected {
	background-color: rgba(0,0,0,0.8);
	border: none;
	outline: none;
}
#text:selected {
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,0);
}
