@import "colors.css";

* {
    border: none;
    /*background: none;*/
    font-family: 'M+2 Nerd Font', 'Symbols Nerd Font';
    font-size: 18px;
    /*font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';*/
}

tooltip {
    font-size: 23px;
    border: 2px solid @background-darker;
    background: @background;
    color: @foreground;
}

tooltip * {
    background: none;
    background-color: transparent;
    color: @foreground;
    padding: 3px 3px 3px 3px;
}

.modules-left {
    margin: 0px 8px 8px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
}

.modules-center {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modules-right {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
}

#waybar {
/*    font-size: 18px;*/
/*    padding-left: 8px;*/
}

window#waybar {
    background: linear-gradient(0deg, @background 20%, @background-darker 100%);
    transition-duration: 1.5s;
    transition-property: color;
}

window#waybar.hidden {
    opacity: 0.0;
}

#workspaces {
    font-size: 24px;
}

#workspaces button {
    background: none;
    color: @text;
    transition-duration: 0.6s;
    transition-property: color;
}

/*#workspaces button:hover, 
#workspaces button.persistent:hover *{
    background: @blue;
    box-shadow: inset 0 -2px transparent;
}*/

#workspaces button.focused {
    background: none;
    color: @purple;
}

#workspaces button.persistent {
    background: none;
    color: @cyan;
}
#workspaces button.urgent {
    background: none;
    color: @critical;
}

#workspaces button.empty {
    background: none;
    color: @cyan;
}
/* 1st block */
#custom-weather {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 18px;
    background-color: transparent;
    color: @foreground;
/*    padding: 0px 10px 0px 10px;*/
}
#clock,
#backlight,
#battery,
#custom-media,
#cpu,
#memory,
#mode,
#temperature,
#network,
#window,
#pulseaudio,
#tray {
    background-color: transparent;
    color: @foreground;
    padding: 0px 10px 0px 10px;
}


#battery.charging {
    background-color: transparent;
    color: @green;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: @critical;
    color: #FFF;
}

label:focus {
    background-color: transparent;
}

#temperature.critical {
    background-color: #EB4D4B;
}


#language {
    background: #00B093;
    color: #740864;
    margin: 0 5px;
    min-width: 16px;
    padding: 0 5px;
}
